<video id="videoBG" autoplay muted>
    <source src="/log_vid.mp4" type="video/mp4">
</video>
<section class="auth">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a class="active" href="#login">Login</a></li>
                    <li class="tab col s6"><a href="#register">Registration</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container log-form">
        <div class="row justify-content-center">

            <!-- login form -->
            <div id="login" class="col-md-5">
                <h1>Login</h1>
                <p class="text-center pt-3">Welcome! Please log in before placing orders.</p>
                <form action="/auth/login" method="post">

                    <div class="input-field">
                        <input name="email" id="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="wrpng name"></span>
                    </div>

                    <div class="input-field">
                        <input name="password" id="password" type="password" class="validate" required>
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="Wrong password"></span>
                    </div>

                    <input type="hidden" name="_csrf" value="{{csrf}}">

                    <button class="col-12 log-btn" type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>



            <!-- register form -->
            <div id="register" class="col-md-5">
                <h1>Registration</h1>
                <form action="/auth/register" method="post">
                    <div class="input-field">
                        <input name="email" id="remail" type="email" class="validate" required>
                        <label for="remail">Email</label>
                        <span class="helper-text" data-error="Wrong name"></span>
                    </div>

                    <div class="input-field">
                        <input name="password" id="rpassword" type="password" class="validate" required>
                        <label for="label">Password</label>
                        <span class="helper-text" data-error="Wrong password"></span>
                    </div>

                    <div class="input-field">
                        <input name="confirm" id="confirm" type="password" class="validate" required>
                        <label for="confirm">Repeat your password</label>
                        <span class="helper-text" data-error="Wrong password"></span>
                    </div>

                    <div class="input-field">
                        <input name="name" id="name" type="text" class="validate" required>
                        <label for="name">Your name</label>
                        <span class="helper-text" data-error="Enter your name"></span>
                    </div>

                    <input type="hidden" name="_csrf" value="{{csrf}}">

                    <button class="col-12 log-btn" type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
    
    
</section>
