<section class="reset">
    <div class="container log-form">
        <div class="row justify-content-center">

            <!-- login form -->
            <div class="col-md-5">
                {{#if error}}
                    <p class="alert">{{error}}</p>
                {{/if}}
                <!--                         novalidate-->
                <h1>New password</h1>
                <form action="/auth/password" method="post">

                    <div class="input-field">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">New password</label>
                        <span class="helper-text" data-error="wrong pass"></span>
                    </div>

                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <input type="hidden" name="userId" value="{{userId}}">
                    <input type="hidden" name="token" value="{{token}}">

                    <button class="col-12 log-btn" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>
</section>




