<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>

    <link rel="stylesheet" href="/index.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>