<nav>
    <div class="nav-wrapper">
        <a class="logo" href="/" class="brand-logo">Tasty</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            
            <li><a class="" href="/">Home</a></li>            
            <li><a href="/foods">Menu</a></li>            
            <li><a href="/about">About</a></li>            
            <li><a href="/contact">Contacts</a></li>            
            
            {{#if isAuth}}
                <li><a href="/card">Card</a></li>   
                <li><a href="/add">Add food</a></li>            
                <li><a href="/orders">Orders</a></li> 
                <li><a href="/auth/logout">Logout</a></li> 
            {{else}}
                <li><a href="/auth/login#login">login</a></li>  
            {{/if}}
                      

        </ul>
    </div>
</nav>