<div class="container-fluid about">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-9">
                <h1>About us</h1>
                <br><br>
                <p>
                    Mind Your Ps and Qs: Even small grammatical errors can scream at visitors. You’ll want to go through your contact page with a fine-toothed comb.
                    Keep it Simple: You don’t want to put too many barriers between the site visitors and the contact information they’re looking for. Keep your contact us page short, sweet, and to the point.
                    Give the People What They Want: I hate contact forms – somehow I just get the feeling that when I fill one out, I’ll never hear back from them. It also feels like I’m somehow untrustworthy and don’t deserve a real email address. Of course, providing a real email address opens you up to potential spammers, so it’s really a bit of a toss up. However you choose to set up your contact page, make sure that it’s supremely easy for folks to get in touch with you. If you use a contact form, only ask for the essentials (name, email address, and their message). I’ve seen contact forms requiring mandatory mailing addresses and phone numbers. Form fields like those are a major turn-off.</p>
            </div>
        </div>
    </div>
</div>




<div class="dropdown col-md-8 col-sm-6 drpdiv" >
    <p class="Qna">Q&A</p>
    <button class="dropbtn col-md-12">Question</button>
    <div class="dropdown-content col-md-11 col-sm-10">
        <p >Text</p>
    </div>
</div>

<div class="dropdown col-md-8 col-sm-6  drpdiv"  >
    <button class="dropbtn col-md-12">Question</button>
    <div class="dropdown-content col-md-11 col-sm-10">
        <p >Text</p>
    </div>
</div>

<div class="dropdown col-md-8 col-sm-6 drpdiv" >
    <button class="dropbtn col-md-12">Question</button>
    <div class="dropdown-content col-md-11 col-sm-10">
        <p >Text</p>
    </div>
</div>

<div class="dropdown col-md-8 col-sm-6 drpdiv" >
    <button class="dropbtn col-md-12">Question</button>
    <div class="dropdown-content col-md-11 col-sm-10">
        <p >Text</p>
    </div>
</div>

<div class="dropdown col-md-8 col-sm-6 drpdiv" >
    <button class="dropbtn col-md-12">Question</button>
    <div class="dropdown-content col-md-11 col-sm-10">
        <p >Text</p>
    </div>
</div>

<div class="dropdown col-md-8 col-sm-6 drpdiv" >
    <button class="dropbtn col-md-12">Question</button>
    <div class="dropdown-content col-md-11 col-sm-10">
        <p >Text</p>
    </div>
</div>

<div class="dropdown col-md-8 col-sm-6 drpdiv" >
    <button class="dropbtn col-md-12">Question</button>
    <div class="dropdown-content col-md-11 col-sm-10">
        <p >Text</p>
    </div>
</div>