<section class="food-detail">
    <div class="container">
        <div class="food">


            <div class="row">
                <div class="col-md-6">
                    <img src="{{food.img}}" alt="{{food.title}}">
                </div>

                <div class="col-md-6">
                    <h1>{{food.title}}</h1>
                    <p class="text-price">price: <span class="price big">{{food.price}}</span></p>
                </div>
            </div>


        </div>
    </div>
</section>
