<section class="header">
    {{>navbar}}

    <div class="title">
        <h1>A wonderful island in the sea of ​​taste.</h1>

        <a href="/foods">Order now</a>
    </div>
</section>


<section class="sales">
    <h2>Top sales</h2>
    <p>Choose your meal</p>

    <div class="glide container">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide">
                    <img src="/dog.PNG" alt="">
                    <p>Name:</p>
                    <p>Price:</p>
                </li>

                <li class="glide__slide">
                    <img src="/1.jpg" alt="">
                    <p>Name:</p>
                    <p>Price:</p>
                </li>

                <li class="glide__slide">
                    <img src="/dog.PNG" alt="">
                    <p>Name:</p>
                    <p>Price:</p>
                </li>

                <li class="glide__slide">
                    <img src="/dog.PNG" alt="">
                    <p>Name:</p>
                    <p>Price:</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="deal">
    <h5>Deal of the Week</h5>

    <h2>Starting This Week, We Have A New Promotion!</h2>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-xs">
                <img src="2.png" alt="">
            </div>

            <div class="col-md-5 col-xs text-center">
                <p>
                    If you belong to a disabled group or you have health problems, then we offer a 40% discount on any order especially for you.
                </p>

                <a href="/about">Learn more</a>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-xs text-center">
                <h5>About us</h5>

                <h1>Eat. Drink. Love.</h1>

                <p>The site will support customers in finding and delivering food. It will offer a specific list of products that customers can order, including dishes from different cuisines, such as: Italian, Japanese, Korean, etc. The main point of the site is to make it simple and at the same time functional for the convenience of ordering users during the pandemic and not only.</p>

                <a href="/about">Learn more</a>
            </div>
        </div>
    </div>
</section>
