<section class="header">
    {{>navbar}}

    <div class="title">
        <h1>A wonderful island in the sea of ​​taste.</h1>

        <a href="/foods">Order now</a>
    </div>
</section>


<section class="sales">
    <h2>Top sales</h2>
    <p>Choose your meal</p>
</section>


