<section class="profile">
    <div class="container">
        <h1>Profile</h1>

        <div class="row">
            <div class="col s6">
                <img class="avatar" src="av.jpg" alt="none">

                {{#if user.avatarUrl}}


                {{else}}
                    <p>No image</p>
                {{/if}}
            </div>

            <div class="col s6">
                <p>Your email: <strong>{{user.email}}</strong></p>

                <form action="/profile" method="post" enctype="multipart/form-data">
                    <div class="input-field">
                        <input name="name" type="text" class="validate" required value="{{user.name}}">
                        <label for="name"></label>
                        <span class="helper-text" data-error="the name cant be empty"></span>
                    </div>

                    <div class="file-field input-field">
                        <div class="btn">
                            <p style="color: #fff">Profile picture</p>
                            <input type="file" name="avatar">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>

                    <input type="hidden" name="_csrf" value="{{csrf}}">

                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
