.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.price.card-price{
    font-size: 17px;
}

.food {
    width: 10px;
    
    flex-direction: column;
    align-items: center;
}

.food h1{
    margin-bottom: 2rem;
}

.food img {
    max-width: 600px;
    height: auto;
}

.food .price.big {
    font-size: 2 rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food-form {
    margin-bottom: 1rem;
}